.dropdown-toggle {
    color: #fff;
}

.dropdown-toggle::after {
    color: #fff;
}

i {
    color: #fff;
}

nav {
    padding: 15px 100px !important;
}

a {
    color: #fff;
}

a.nav-link:hover {
    color: #fff;
}

p {
    margin: 0;
    color: #000;
}

.hidden-bag {
    display: none;
}

@media screen and (max-width: 450px) {
    .hidden-bag {
        display: block;
        margin-right: auto;
        margin-top: 15px;
        z-index: 501;
    }
}
