.navbar {
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 2;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.navbar.active {
    opacity: 0.6;
    transition: opacity 1s ease-in-out;
}

#adminmenu {
    color: white;
}

#username {
    color: white;
}

i {
    color: white;
}
