ul.product-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    left: 0;
    background: #f2f2f2;
    width: 400px;
    height: 100%;
    border: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: 101;
    margin: 0;
}

ul.product-menu li {
    list-style: none;
    padding: 15px;
    border-bottom: #ccc solid 1px;
}

.link {
    color: #000;
}

ul.product-menu li:last-child {
    border: none;
}

ul.product-menu.show {
    transform: translateX(0px);
}

@media screen and (max-width: 768px) {
    ul.product-menu {
        width: 100%;
    }
}

a:hover {
    text-decoration: underline;
    color: #000;
}
