.card {
    border: none !important;
    background: #f4f5f7;
}

a:link {
    text-decoration: none !important;
}

.card-title {
    font-size: 14px;
}

.card-text {
    font-size: 14px;
}

div.card-body {
    padding: 15px 0 0 0;
    background: #f4f5f7;
}

div.card-title {
    margin: 0 0 10px 0;
}

@media screen and (max-width: 450px) {
    .card {
        display: flex;
        justify-content: center;
        width: 80vw;
    }

    img.card-img {
        width: 70vw !important;
        margin: 0 auto;
    }

    div.card-body {
        margin: 0 auto;
        width: 70vw !important;
    }

    .product-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
